.outputs {
  /*display: none;*/
  margin-top: 30px
}
.jumbotron {
  height: 50px;
  background-color: #99CCCC;
  color: #006666;
}

#output, #travelPrepCheck, #homePrepCheck, #vaccCheck, #documentCheck, #moneyCheck {
  border: 1px solid gray;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  margin-right: 30px;
  padding-bottom: 10px;
}

.pageTwo {
  display: none;
}


.vaccination-hide {
  display: none;
}
