body {
  color: rgba(98,19,19,1);
}

a {
  background-color: green;
  color: white;
}

.jumbotron {
  background-color: #99CCCC;
  color: rgba(98,19,19,1);
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
     -moz-border-top-left-radius: 0 !important;
     -moz-border-top-right-radius: 0 !important;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
}

.backgroundImage {
  background-image: url("../img/beach.jpg");
}


.pageOneBox {
  background-color: rgba(255,255,255,0.4);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 15px;
  border-radius: 6px;
}
.pageTwoBox {
  background-color: rgba(153,204,204,0.6);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 15px;
  border-radius: 6px;
}

.pageOneForm {
  background-color: rgba(255,255,255,1);
  border-radius: 6px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-top: 30px;
}

.pageTwo {
  background-color: rgba(255,255,255,1);
}

.tab-content {
  background-color: rgba(255,255,255,1);
}

.where {
  margin-bottom: -30px;
  width: 60%;
}


.pageTwo {
  display: none;
}

.outputs {
  /*display: none;*/
  margin-top: 30px
}

.jbe, .turb, .typ {
  display: none;
}


.btn-danger {
  color: #fff;
  background-color: #9e0b0f;
  border-color: #d43f3a;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: ##9e0b0f;
  border-color: #ac2925;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}

#container1 {
  width: 40%;
}

#container2 {
  width: 60%;
}

#output, #travelPrepCheck, #homePrepCheck, #vaccCheck, #documentCheck, #moneyCheck, #backPackCheck, #accessoriesCheck {
  border: 1px solid gray;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  margin-right: 50px;
  padding-bottom: 10px;
}
